In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
root_path = "data/wrong_order/train/"
file_list = ["train_set.xlsx"]

li = []

for file in file_list:
    df = pd.read_excel(root_path+file)
    li.append(df)
    
data = pd.concat(li, axis=0, ignore_index=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9961 entries, 0 to 9960
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tracking_number     9961 non-null   object
 1   checkpoint_status   9961 non-null   object
 2   status_description  9961 non-null   object
 3   wrong_order         9961 non-null   int64
dtypes: int64(1), object(3)
memory usage: 311.4+ KB

In [3]:
data.head()

,tracking_number,checkpoint_status,status_description,wrong_order
0,YT2101621236003930,TRACKING_ONLINE,SHENZHEN Arrived at Sort Facility SHENZHEN .,0
1,YT2101621236003930,TRACKING_ONLINE,SHENZHEN Arrived at Sort Facility SHENZHEN . ...,0
2,YT2101621236003930,TRACKING_ONLINE,SHENZHEN Arrived at Sort Facility SHENZHEN . ...,0
3,YT2101621236003930,TRACKING_ONLINE,SHENZHEN Departed Facility In processing cent...,1
4,YT2101621236003930,IN_US,SHENZHEN Arrived at Sort Facility SHENZHEN . ...,0

In [6]:
data["tracking_number"]

0       YT2101621236003930
1       YT2101621236003930
2       YT2101621236003930
3       YT2101621236003930
4       YT2101621236003930
               ...
9956    YT2101621272026865
9957    YT2101621272026865
9958    YT2101621272026865
9959    YT2101621272026865
9960    YT2101621272026865
Name: tracking_number, Length: 9961, dtype: object

In [5]:
data.tail()

,tracking_number,checkpoint_status,status_description,wrong_order
9956,YT2101621272026865,IN_US,ZHENGZHOU Arrived at Sort Facility ZHENGZHOU ...,0
9957,YT2101621272026865,IN_US,Arrived at Sort Facility . Custom clearanc...,1
9958,YT2101621272026865,IN_US,ZHENGZHOU Arrived at Sort Facility ZHENGZHOU ...,0
9959,YT2101621272026865,IN_US,ZHENGZHOU Arrived at Sort Facility ZHENGZHOU ...,0
9960,YT2101621272026865,COMPLETED,"WINDHAM,ME Delivered, In/At Mailbox . Custo...",1

In [47]:
data["check_log"] = 1
data["index"] = data.index
data.tail()

,tracking_number,checkpoint_status,status_description,check_log,index
9956,YT2101621272026865,IN_US,ZHENGZHOU Arrived at Sort Facility ZHENGZHOU ...,1,9956
9957,YT2101621272026865,IN_US,ZHENGZHOU Arrived at Sort Facility ZHENGZHOU ...,1,9957
9958,YT2101621272026865,IN_US,ZHENGZHOU Arrived at Sort Facility ZHENGZHOU ...,1,9958
9959,YT2101621272026865,IN_US,ZHENGZHOU Arrived at Sort Facility ZHENGZHOU ...,1,9959
9960,YT2101621272026865,COMPLETED,ZHENGZHOU Arrived at Sort Facility ZHENGZHOU ...,1,9960

In [48]:
data.groupby("checkpoint_status").count()

                     tracking_number  status_description  check_log  index
checkpoint_status
COMPLETED                        168                 168        168    168
DELIVERED_GUARANTEE                1                   1          1      1
IN_US                           6357                6357       6357   6357
RETURN_TO_SENDER                 670                 670        670    670
TRACKING_AVAILABLE               349                 349        349    349
TRACKING_ONLINE                 2416                2416       2416   2416

In [49]:
data.groupby("check_log").count()

           tracking_number  checkpoint_status  status_description  index
check_log
1                     9961               9961                9961   9961

In [50]:
for name, group in data.groupby("checkpoint_status"):
    len_group = len(group)
    count = 0
    while count < len_group/3:
        count+=1
        index_in_group = random.randint(0, len_group-1)
        index = group.iloc[index_in_group]["index"]
        
        log_list = data.iloc[index]["status_description"].split(" . ")
        try:
            log_list.remove("")
        except:
            a = 0
        if len(log_list) > 3:
            
            random.shuffle(log_list)
            data.at[index, "status_description"] = ( " . ".join(log_list) + " . " )
            data.at[index, "check_log"] = 0

In [51]:
del data["index"]

In [52]:
data.groupby("check_log").count()

           tracking_number  checkpoint_status  status_description
check_log
0                     2389               2389                2389
1                     7572               7572                7572

In [18]:
data.to_excel(root_path+"train_set2.xlsx", index=False)